* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* TYPOGRAPHY */

html {font-size: 100%;} 

h1 {
	font-weight: 700;
	font-size: 3rem;
}

h2 {
	font-weight: 700;
	font-size: 2rem;
}

h3 {
	font-weight: 500;
	font-size: 1.5rem;
}

h4, h5 {
  font-weight: 300;
  font-size: 1.5rem;
}

body {
  font-weight: 400;
  font-size: 1.125rem;
  background: #FFF;
}

strong {
	font-weight: 700;
}

.small {font-size: 0.8rem;}

/* end typography */

/* Colors | background: #FFF | text: #222222 | icons, accents: #0BD0ED | secondary: #e2f3fe | CTA, etc: #006AC6 gray: #eee; gray-selected: #ddd; */

body {
	color: #222222;
	overflow-x: hidden;
	line-height: 1.75;
	width: auto !important;
}

.secondary-bg {
	background-color: #e2f3fe;
}

.grey-bg {
	background-color: #eee;
}

.shadow {
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

/* end Colors */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 54px;
	z-index: 1000;
}
/* Navbar */
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	padding: 0.5rem 1rem;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
	border-bottom: 1px solid #22222236;
	background: #FFF;
}
.navbar a {
	color: #222222;
	transition: ease 0.3s;
}

.navbar a:hover {
	color: #0BD0ED
}

#logo {
	font-weight: 700;
	font-size: 1.125rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	text-wrap: nowrap;
}

#logo img {
	height: 1.125rem;
	width: auto;
	border-radius: revert;	
}

.menu {
	display: flex;
	gap: 3rem;
	font-weight: 500;
}
/* End Navbar */

/* Progress Bar */
.progress-container {
	height: 4px;
	width: 100%;
	background-color: #ddd;
}
.progress-bar {
	height: 4px;
	width: 0%;
	background-color: #0BD0ED;
}
/* End progress bar */

/* Table of Contents */

.table-of-contents {
	position: fixed;
	top: 60px;
	left: 7px;
	border-radius: 5px;
	z-index: 100;
	transition: left 0.3s ease;
}

.table-of-contents a {
	font-weight: 500;
	color: #222222;
	transition: ease 0.3s;
}
.table-of-contents a:hover {
	color: #0BD0ED
}

#toc {
	position: fixed;
	left: -200%; /* Hide off-screen initially */
	padding: 0.5rem;
	margin: 1rem 0.5rem;
	border-radius: 5px;
	transition: left 0.3s ease;
}

#toc.active {
	left: 0; /* Show the menu */
}

#toc li {
	margin-left: 1rem;
	list-style-type: disc;
}

#toc-toggle {
	border-radius: 5px;
	cursor: pointer;
	font-weight: 700;
	padding: 1rem;
	transition: left 0.3s ease;
}
#toc-toggle:before {
	content: "\f03a";
	font-family: "Font Awesome 6 Free";
	font-weight: 700;
	padding-right: 2rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #0BD0ED;
}

#toc-toggle:hover {
	background-color: #ddd;
}


/* End table of contents */

/* Modal */
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}

/* Modal Content/Box */
.modal-content {
  border: 1px solid #eee;
  padding: 1rem;
  width: 95%;
  height: 95%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal-content img {
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
}

/* The Close Button */
.close {
  color: #0BD0ED;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  margin: 1rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* End Modal */

.scroll-mg-tp {
	scroll-margin-top: 200px;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 8rem;
	margin-top: 10rem;
	width: 100%;
	padding: 0.5rem 10%;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 5rem;
	margin-bottom: 3rem;
	width: 125%
}
.intro .title {
	line-height: 1.1;
}

/* End intro */




img {
	width: 100%;
	max-width: 700px;
	border-radius: 5px;
}

.zoom {
	cursor: pointer;
	transition: ease 0.3s;
}
.zoom:hover {
	filter: brightness(80%);
}

ul li {
	list-style-type: none;
	margin-left: 3rem;
}
ol, ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
ol li {
	list-style-type: decimal;
}

li {
	margin-left: 3rem;
}

a {
	color: #0BD0ED;
	cursor: pointer;
	text-decoration: none;
}

.flex {
	display: flex;
	flex-wrap: no-wrap;
}

.center {
	text-align: center;
}

.gap1 {
	gap: 1rem;
}
.text-block {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 800px;
	padding: 1rem 2rem;
	border-radius: 5px;
}

.accent-border {
	border: 3px solid #0BD0ED;
}

.rounded {
	border-radius: 5px;
}
.call-out {
	color: #0BD0ED;
	font-weight: 700;
	margin: 1rem;
	text-align: center;
}

/* Expandable */
.expandable-header {
	transition: ease 0.3s;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.secondary-bg .expandable-header:hover {
	background-color: #acdaf6;
}
.secondary-bg .expandable-header.expanded {
	background-color: #acdaf6;
}

.expandable-header:before {
	content: "\2b";
	font-family: "Font Awesome 6 Free";
	font-weight: 700;
	padding-right: 2rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #0BD0ED;
}

.expandable-header.expanded:before {
	content: "\f068";
}

.expandable-content {
	margin-top: 1rem;
}

/* End expandable */
/* Steps */
.step {
	font-weight: 700;
	font-size: 3rem;
	position: absolute;
	left: 10%;
	color: #ddd;
	padding: 1rem;
	background-color: white;
	translate: -50% -25%;
	z-index: 1;
}

.steps {
	border: 5px solid #ddd;
	border-radius: 5px;
	padding-top: 2rem;
}

.steps h1 {
	text-align: center;
	color: #ddd;
}

.steps section {
	margin-top: 8rem;
}
 /* End Steps */

/* main section */

.main-section {
	width: 100%;
	min-height: 500px;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	padding: 3rem 5rem;
	align-items: center;
	border-radius: 5px;
}

.main-section h2 {
	text-align: center;
}
.small-cards-wrap {
	width: 100%;
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	border-radius: 5px;
}

@media screen and (max-width: 1200px) {
	.small-cards-wrap {
		flex-direction: column;
	}
}
/* Small card */
.small-card {
	border-radius: 5px;
	padding: 1rem 2rem;
	width: 100%;
}

.flex-column {
	flex-direction: column;
}

/* Padding */
.py1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.py3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.py4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.py5 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.py7 {
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.px1 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px2 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.px3 {
	padding-left: 3rem;
	padding-right: 3rem;
}
.px4 {
	padding-left: 4rem;
	padding-right: 4rem;
}
.px5 {
	padding-left: 5rem;
	padding-right: 5rem;
}
/* Margin */

@media screen and (max-width: 600px) {
	.main {
		padding: 0.5rem 5%;
	}
	.main-section {
		padding: 0.5rem;
	}
	.step {
		position: static;
		translate: 0;
		padding: 0;
		font-size: 2rem;
	}
	.small-card {
		padding: 0.5rem 1rem;
	}
	.steps section {
		margin-top: 2rem;
	}
	.steps h1 {
		font-size: 1.5rem;
	}
}